* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Saira Condensed', sans-serif;
	color: white;
	font-size: 10px;
}

body header {
	height: 100vh;
	max-width: 1920px;
	margin: 0 auto;
	position: relative;
	background-color: #29a6db;
	overflow: hidden;
}

header > * {
	position: absolute;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

header img {
	height: 50%;
	bottom: 0;
	right: 0;
}

header .welcome {
	z-index: 1;
	top: 10vh;
	left: 5vw;
	right: 5vw;
}

.welcome p {
	font-size: 4rem;
	letter-spacing: 2px;
}

.welcome h1 {
	font-size: 2rem;
}

.welcome h2 {
	font-size: 2rem;
	font-weight: normal;
}

.welcome button {
	height: 3.2rem;
	margin-top: 5vh;
	padding: 0 1.5rem;
	background-color: transparent;
	font-family: 'Saira', sans-serif;
	font-size: 1.2rem;
	line-height: 3.2rem;
	letter-spacing: 1px;
	font-weight: 200;
	text-transform: uppercase;
	color: white;
	border: 1px solid white;
}

section {
	min-height: 100vh;
}

@media (orientation: landscape) {
	header .welcome {
		top: 20vh;
		left: 12vw;
		right: 45vw;
	}
	.welcome button {
		margin-top: 4rem;
	}
	header img {
		height: 80%;
		right: -10vw;
	}
}

@media (orientation: portrait) and (min-width: 360px) {
	header .welcome {
		top: 10vh;
		left: 12vw;
		right: 12vw;
	}
	.welcome h1 {
		font-size: 2.4rem;
	}
	.welcome h2 {
		font-size: 2.4rem;
	}
	.welcome button {
		font-size: 1.6rem;
		height: 5rem;
		line-height: 4rem;
	}
	header img {
		right: -25vw;
	}
}

@media (orientation: landscape) and (min-width: 640px) {
	.welcome h1 {
		font-size: 2.8rem;
	}
	.welcome h2 {
		font-size: 2.4rem;
	}
	.welcome button {
		font-size: 1.6rem;
		height: 4rem;
		line-height: 4rem;
	}
	header img {
		height: 80%;
		right: -5vw;
	}
}
@media (min-width: 1024px) {
	.welcome button {
		cursor: pointer;
		transition: 0.3s;
	}
	.welcome button:hover {
		background-color: #fff;
		color: #111;
	}
}
@media (orientation: landscape) and (min-width: 1024px) {
	header .welcome {
		left: 3vw;
	}
	.welcome p {
		font-size: 5.6rem;
	}
	.welcome h1 {
		margin-top: 4rem;
		font-size: 3.4rem;
	}
	.welcome h2 {
		font-size: 3.4rem;
	}
	.welcome button {
		margin-top: 8rem;
		font-size: 2.4rem;
		height: 6rem;
		line-height: 6rem;
	}
	header img {
		height: 85%;
		left: 50%;
	}
}

@media (orientation: portrait) and (min-width: 768px) {
	header .welcome {
		top: 10vh;
		left: 12vw;
		right: 12vw;
	}
	.welcome p {
		font-size: 8rem;
	}
	.welcome h1 {
		font-size: 3.2rem;
	}
	.welcome h2 {
		font-size: 3.2rem;
	}
	.welcome button {
		margin-top: 6rem;
		font-size: 2.4rem;
		height: 6rem;
		line-height: 6rem;
	}
	header img {
		left: 50%;
	}
}

@media (orientation: landscape) and (min-width: 1280px) {
	header .welcome {
		left: 6vw;
		text-align: left;
	}
	.welcome p {
		font-size: 10rem;
	}
	.welcome h1 {
		margin-top: 4rem;
		font-size: 5rem;
	}
	.welcome h2 {
		font-size: 5rem;
	}
	.welcome button {
		margin-top: 10rem;
		padding: 0 4rem;
		font-size: 3rem;
		height: 8rem;
		line-height: 8rem;
		border-width: 3px;
	}
	header img {
		height: 85%;
		left: 50%;
	}
}
@media (orientation: landscape) and (min-width: 1600px) {
	.welcome p {
		font-size: 12rem;
	}
	.welcome h1 {
		margin-top: 4rem;
		font-size: 6rem;
	}
	.welcome h2 {
		font-size: 6rem;
	}
	.welcome button {
		height: 9rem;
		line-height: 9rem;
	}
	header img {
		height: 95%;
		left: 60%;
	}
}
