:root {
	--bottomRadius: 1.5rem;
	--headerBcgColor: #29a6db;
	--featuresBcgColor: white;
	--portfolioBcgColor: black;
	--projectEvenBcgColor: #ff4e2f;
	--projectOddBcgColor: #0370bb;
	--hobbyBcgColor: white;
	--contactBcgColor: black;
	--activeBoxShadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
	--activeBoxShadowDark: rgba(255, 255, 255, 0.3) 0px 19px 38px,
		rgba(255, 252, 252, 0.22) 0px 15px 12px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Saira Condensed', sans-serif;
	color: white;
	font-size: 10px;
	text-align: center;
}
::selection {
	color: var(--headerBcgColor);
	text-shadow: 0px 0px 7px grey;
}
h1 {
	padding: 1rem 2rem;
	font-size: 2.4rem;
}

h2 {
	font-size: 1.8rem;
	padding-bottom: 1rem;
}

p,
input,
button,
textarea {
	padding: 0.5rem 2rem;
	font-size: 1.2rem;
	font-weight: normal;
}

header,
.features,
.project,
.personality,
.hobby,
.contact {
	overflow: hidden;
	border-bottom-left-radius: var(--bottomRadius);
	border-bottom-right-radius: var(--bottomRadius);
}

.hobby .item:nth-of-type(3) {
	border-bottom-left-radius: var(--bottomRadius);
}
.hobby .item:nth-of-type(4) {
	border-bottom-right-radius: var(--bottomRadius);
}

input,
button,
textarea,
.hobby .item {
	margin: 5px;
	border-radius: var(--bottomRadius);
	outline: none;
}

button:hover,
input:focus,
textarea:focus {
	box-shadow: var(--activeBoxShadowDark);
}

button {
	line-height: 3.2rem;
	font-family: 'Saira', sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: white;
	border: 1px solid white;
}

.headerBcg {
	background-color: var(--featuresBcgColor);
}

header {
	height: 100vh;
	max-width: 1920px;
	margin: 0 auto;
	position: relative;
	background-color: var(--headerBcgColor);
	overflow: hidden;
}

header > * {
	position: absolute;
	font-weight: bold;
	text-transform: uppercase;
}

header img {
	height: 50%;
	bottom: 0;
	right: 0;
}

header .welcome {
	z-index: 1;
	top: 10vh;
	left: 5vw;
	right: 5vw;
}

.welcome p {
	font-size: 4rem;
	letter-spacing: 2px;
}

.welcome h1 {
	font-size: 2rem;
	padding-bottom: 0;
}

.welcome h2 {
	font-size: 2rem;
	font-weight: normal;
}

.welcome button {
	background-color: transparent;
	font-weight: 200;
}
.welcome button:hover {
	box-shadow: var(--activeBoxShadow);
}

@media (max-width: 1600px) {
	.featuresBcg {
		background-color: var(--portfolioBcgColor);
	}
}

.features {
	padding: 5%;
	color: black;
	background-color: var(--featuresBcgColor);
}

.features img {
	display: block;
	width: 100%;
	margin: 3% auto;
	max-width: 375px; /* from picture*/
}

.features h1,
.features h2 {
	text-transform: uppercase;
}

.features p {
	font-family: 'Saria';
	font-weight: 300;
}

@media (orientation: landscape) {
	header .welcome {
		top: 20vh;
		left: 12vw;
		right: 45vw;
	}
	.welcome button {
		margin-top: 5vh;
	}
	header img {
		height: 80%;
		right: -10vw;
	}
}

@media (orientation: portrait) and (min-width: 360px) {
	html {
		font-size: 12px;
	}
	header .welcome {
		top: 10vh;
		left: 12vw;
		right: 12vw;
	}
	header img {
		right: -25vw;
	}
}

@media (orientation: landscape) and (min-width: 640px) {
	html {
		font-size: 12px;
	}
	header img {
		height: 80%;
		right: -5vw;
	}
}

@media (min-width: 1024px) {
	.welcome button {
		cursor: pointer;
		transition: 0.3s;
	}
	.welcome button:hover {
		background-color: var(--featuresBcgColor);
		color: #111;
	}
}

@media (orientation: landscape) and (min-width: 1024px) {
	html {
		font-size: 15px;
	}
	header .welcome {
		left: 3vw;
	}
	.welcome button {
		font-size: 1.8rem;
	}
	header img {
		height: 85%;
		left: 50%;
	}
	.features {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;
		align-items: center;
	}
	.features h1 {
		flex-basis: 100%;
	}
	.feature:nth-child(3) h2 {
		line-height: 88px;
	}
	.features p {
		line-height: 135%;
	}
	.feature {
		width: 30%;
	}
}
@media (orientation: portrait) and (min-width: 1304px) {
	.feature:nth-child(n + 3) h2 {
		line-height: 88px;
	}
}

@media (orientation: portrait) and (min-width: 768px) {
	html {
		font-size: 16px;
	}
	header .welcome {
		top: 10vh;
		left: 12vw;
		right: 12vw;
	}
	.welcome p {
		font-size: 5.3rem;
	}
	.welcome h1,
	.welcome h2 {
		font-size: 2.1rem;
	}
	.welcome button {
		margin-top: 2rem;
		font-size: 1.2rem;
		line-height: 4rem;
	}
	header img {
		left: 50%;
	}
}

@media (orientation: landscape) and (min-width: 1280px) {
	header .welcome {
		left: 6vw;
		text-align: left;
	}
	.welcome p {
		padding-left: 0;
		font-size: 6.5rem;
	}
	.welcome h1 {
		margin-top: 2.5rem;
		padding-left: 0;
		font-size: 3.2rem;
	}
	.welcome h2 {
		font-size: 3.2rem;
	}
	.welcome button {
		margin-top: 6.5rem;
		padding: 0 4rem;
		font-size: 2rem;
		line-height: 5rem;
		border-width: 3px;
	}
	header img {
		height: 85%;
		left: 50%;
	}
}

@media (orientation: landscape) and (min-width: 1600px) {
	header img {
		height: 95%;
		left: 60%;
	}
	.features {
		max-width: 1600px;
		margin: 50px auto 0;
	}
	.feature {
		min-width: 33%;
		/* line-height: 88px; */
	}
}

.portfolio {
	padding-bottom: 2rem;
	background-color: var(--portfolioBcgColor);
	font-family: 'Saira';
	color: white;
}

.portfolio .web img {
	width: 100%;
}

.portfolio .about {
	width: 100%;
	padding: 2rem 2rem 2rem 0;
	text-align: left;
}

.portfolio .about h2 {
	border-bottom: 2px solid white;
	text-indent: 2rem;
}

.portfolio .about p {
	text-align: left;
}

.portfolio .project {
	max-width: 1600px;
	margin: 0 auto;
}
.portfolio .project:not(:last-child) {
	margin: 0 auto 2rem;
}

.portfolio .project:nth-last-of-type(odd) .about {
	background-color: var(--projectEvenBcgColor);
}

.portfolio .project:nth-last-of-type(even) .about {
	background-color: var(--projectOddBcgColor);
}

@media (orientation: landscape) and (min-width: 534px) {
	.portfolio .project:nth-last-of-type(odd) .about {
		padding-left: 2rem;
		padding-right: 0;
	}

	.portfolio .about h2 {
		text-indent: 2rem;
		padding-right: 2rem;
	}

	.portfolio .about p {
		padding: 2rem 2rem 0;
	}
	.portfolio .project {
		display: flex;
	}
	.portfolio .project:nth-of-type(even) .about p,
	.portfolio .project:nth-of-type(even) .about {
		order: 1;
		text-align: right;
	}
	.portfolio .project:nth-of-type(even) .web {
		order: 2;
		text-align: left;
	}
	/* graphics is inline block so there is an extra stripe below */
	.project .web img {
		display: block;
		height: 100%;
	}
}

@media (orientation: landscape) and (min-width: 1400px) {
	html {
		font-size: 18px;
	}
	.portfolio h1 {
		font-size: 3rem;
	}
}
.personalityBcg {
	background-color: var(--hobbyBcgColor);
}

.personality {
	background-image: url(../images/motto.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	color: white;
}

.personality h1 {
	margin-bottom: 2.5rem;
	text-transform: uppercase;
}

.personality p {
	font-family: 'Saira';
	font-size: 1.8rem;
}

.personality p:nth-last-child(1) {
	margin-bottom: 2rem;
}

.personality .bg {
	padding: 3rem 1rem;
	background-color: rgba(0, 63, 114, 0.5);
}

@media (min-width: 768px) {
	.personality h1 {
		font-size: 3rem;
		margin-bottom: 2.5rem;
	}
	.personality p {
		font-size: 2rem;
	}
	.personality .bg {
		padding: 5rem 2rem;
	}
}
.hobbyBcg {
	background-color: var(--contactBcgColor);
}
.hobby {
	max-width: 1920px;
	margin: 0 auto;
	background-color: var(--hobbyBcgColor);
}

.hobby .item {
	min-height: 25vh;
	font-family: 'Saira';
	background-repeat: no-repeat;
	background-size: 100%;
	overflow: hidden;
}

.hobby .item:nth-of-type(1) {
	background-image: url(../images/hobby1.jpg);

	background-position: center;
}

.hobby .item:nth-of-type(2) {
	background-image: url(../images/hobby2.jpg);
	background-position: 45%;
	background-position: top;
}

.hobby .item:nth-of-type(3) {
	background-image: url(../images/hobby3.jpg);
	background-position: center;
}

.hobby .item:nth-of-type(4) {
	background-image: url(../images/hobby4.jpg);
	background-position: 80% top;
}

.hobby .item p {
	font-size: 1.8rem;
	text-shadow: 0 0 4px black;
	background-color: rgba(0, 0, 0, 0.5);
}

.hobby h1 {
	color: black;
}

@media (min-width: 533px) {
	.hobby {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		justify-content: center;
	}
	.hobby h1 {
		flex-basis: 100%;
	}
	.hobby .item {
		flex-basis: 48%;
		min-height: 40vh;
	}
}

@media (min-width: 1024px) {
	.hobby h1 {
		color: black;
		font-size: 3rem;
	}
	.hobby .item {
		/* size must be for transition */
		background-size: 100%;
		transition: 1s;
	}
	.hobby .item:hover {
		background-size: 150%;
	}
	.hobby .item p {
		padding: 0;
		line-height: 40vh;
		opacity: 0;
		transition: 0.4s;
	}
	.hobby .item:hover p {
		cursor: pointer;
		opacity: 1;
	}
}
.contactBcg {
	background-color: var(--headerBcgColor);
}

.contact {
	background-color: var(--contactBcgColor);
	padding: 3rem 2rem;
	font-size: 1.4rem;
}
.contact .wrap {
	max-width: 1024px;
	margin: 0 auto;
	padding-top: 2rem;
}

.contact,
.contact input,
.contact button,
.contact textarea {
	font-family: 'Saira', sans-serif;
}

.contact h1,
.contact button {
	text-transform: uppercase;
}

.contact input,
.contact button,
.contact textarea {
	width: 100%;
	margin-bottom: 2rem;
}

.contact input {
	height: 3.6rem;
}

.contact button {
	font-size: 1.4rem;
	line-height: 4rem;
	color: white;
	background-color: transparent;
	border: 2px solid white;
}
.contact a {
	width: 25rem;
	text-decoration: none;
	color: white;
}
.contact .socials {
	margin: 0 auto;
	padding-top: 2rem;
}

.contact .social {
	position: relative;
	padding: 1rem 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.contact .social img {
	width: 3.6rem;
}

.contact .social i {
	font-size: 2.5rem;
}

.contact .social span {
	line-height: 3.6rem;
	padding-left: 2rem;
}

.whatsapp {
	height: 3.6rem;
	width: 3.6rem;
	border-radius: 50%;
	line-height: 2.8rem;
	padding-left: 0.1rem;
	font-size: 4rem;
	background: linear-gradient(45deg, #1ebea5 10%, #00e676);
}

footer {
	padding: 1.4rem;
	font-family: 'Saira', sans-serif;
	font-size: 1.4rem;
	color: white;
	background-color: var(--headerBcgColor);
}

@media (min-width: 533px) {
	.contact .socials {
		width: 25rem;
		display: flex;
		flex-flow: column wrap;
		align-items: flex-start;
	}
}
@media (min-width: 1024px) {
	.contact a {
		background: linear-gradient(to right, var(--headerBcgColor), var(--headerBcgColor)),
			linear-gradient(to right, black, var(--projectEvenBcgColor));
		background-size: 100% 3px, 0 3px;
		background-position: 100% 100%, 0 100%;
		background-repeat: no-repeat;
		transition: background-size 400ms;
		border-radius: 4%;
	}

	.contact a:hover:not(:nth-of-type(2)) {
		background-size: 0 3px, 100% 3px;
	}
	.contact .wrap {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;
		align-items: center;
	}
	.contact .socials {
		width: auto;
	}
	.contact h1 {
		font-size: 3rem;
	}
	.contact form {
		flex-basis: 50%;
	}

	.contact textarea,
	.contact input,
	.contact button {
		font-size: 1.5rem;
		margin-bottom: 2rem;
	}

	.contact textarea {
		height: 240px;
	}

	.contact input {
		height: 3.5rem;
	}

	.contact button {
		transition: 0.3s;
		cursor: pointer;
	}
	.contact button:hover {
		color: black;
		background-color: var(--hobbyBcgColor);
	}

	.contact .socials {
		padding-top: 0;
		align-self: stretch;
		justify-content: space-evenly;
	}
}
